@import 'assets/scss/_functions.scss';

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
    background: getColor(device-bg);

    overflow-x: hidden;
    font-family: 'Roboto', sans-serif !important;
    color: getColor(text-primary);
}

html,
body,
#root,
#app-sitrad,
.react-root {
    height: 100%;
}

.header-logo .aLogo,
.login-logo .aLogo,
.header-logo .bLogo,
.login-logo .bLogo {
    fill: getColor(login-logo) !important;
    color: getColor(login-logo) !important;
}

.aLogo {
    fill-rule: evenodd;
}

/*
RESETS
*/
ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

li::marker {
    list-style-type: none;
}
a {
    text-decoration: none !important;
}

.Main {
    padding-top: 50px;
}

section {
    display: flex;
    flex-direction: column;
    background-color: getColor(section-bg);
    padding: 15px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;

    .section-title {
        margin-bottom: 30px;
    }
}

.drawer-main {
    .parameter-modal {
        position: absolute;
        top: 50px;
        width: calc(100vw - 330px);
    }

    &.collapsed {
        .parameter-modal {
            width: calc(100vw - 65px);
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .parameter-modal {
        width: 100vw;
    }
    .Main {
        padding-top: 0px;
    }
}

.div-selection {
    background: transparent;
    &:hover {
        background: rgb(45, 106, 91);
        color: white;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 12px !important;
    }
    &.active {
        background: rgb(45, 106, 91);
        color: white;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 12px !important;
    }
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

.collapse-icon {
    color: white;
}
.parameters-list {
    color: getColor(text-primary) !important;
}

i,
svg {
    cursor: pointer;
}

//same to dakr and light theme
.mobile-header {
    background-color: #005751;
    color: white;
    height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    width: 100%;
    z-index: 20;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.65);
}

.icon-svg-roundedborder {
    background-color: getColor(param-sidebar-instrument-active-text);
    border-radius: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        top: -100px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        top: 0px;
    }
    100% {
        opacity: 0;
        top: -100px;
    }
}
