/**
 * Theme Variables
 *
 * Simple doc
 * 
 * $palette: this is the object that contains all colors
 * $colors: this is the object tha contain all light vars
 * $colors-dark: this is the object tha contain all dark vars
 * 
 * MAP-GET($map, $key) FUNCTION
 * Returns the value in $map associated with $key.
 * Example: 
 * $font-weights: ("regular": 400, "medium": 500, "bold": 700);
 * map-get($font-weights, "medium"); // 500
 * 
 * OPACITY IN THE COLOR
 * To apply opacity in the colors, use lighten function.
 * Sintax: lighten(color, opacity[in percent])
 * @param color: any color reference: name(red), hexadecimal(#00FFFF), use map0get() and etc.
 * @param opacity: opacity you wish to apply. This meansure is the XD opacity minus 100%. 
 * For example: 
 * XD value: 13%. You need to subtract per 100
 * Result: 100 - 13 = 87%
 */

@import 'palette';

/***********************************************************************************
 DARK THEME - VARIABLES
**********************************************************************************/
$colors-dark: (
    base: map-get($palette, grey_darken_3),
    primary: map-get($palette, green_darken_2),
    text-primary: map-get($palette, white_),
    accent: map-get($palette, accent),
    logo: map-get($palette, white_),
    login-logo: map-get($palette, white_),
    //page - general vars
    page-bg: #393939,
    page-header-bg: map-get($palette, grey_darken_2),
    page-main-bg: map-get($palette, grey_darken_3),
    page-footer-bg: map-get($palette, grey_darken_1),
    page-footer-text: map-get($palette, white_),
    page-hr-bg: map-get($palette, white_),
    page-header-shadow: rgba(0, 0, 0, 0.65),
    page-footer-logo: map-get($palette, white_),
    page-top-bar-bg: #2e2e2e,
    page-top-bar-label: white,
    page-navbar-bg: #111111,
    page-default-gray-text: #8e8e8e,
    page-side-bar-bg: map-get($palette, grey_darken_8),
    page-side-bar-show-button: rgba(255, 255, 255, 0.5),
    page-side-bar-labels: #fff,
    page-side-bar-active-label: map-get($palette, green_lighten_0),
    page-side-bar-active-bg: map-get($palette, green_darken_5),
    page-side-bar-logo: #fff,
    page-mobile-navbar-bg: #2f2e30,
    page-mobile-navbar-header-bg: #272627,
    page-mobile-navbar-footer-bg: #2c2b2d,
    //Icon
    header-icon-color: map-get($palette, white_),
    //Main Menu
    menu-text-primary: map-get($palette, white_),
    menu-text-active: map-get($palette, green_lighten_1),
    //Breadcrumbs - Paths
    path-text: map-get($palette, white_),
    path-text-active: map-get($palette, green_lighten_1),
    //Inputs
    disabled-bg: map-get($palette, grey_darken_10),
    read-only-label: map-get($palette, grey_lighten_5),
    input-bg: map-get($palette, grey_darken_9),
    checkbox-bg: map-get($palette, green_lighten_0),
    input-color: map-get($palette, white_),
    input-border: map-get($palette, grey_darken_12),
    input-boxshadows: rgba(map-get($palette, green_darken_0), 0.25),
    select-option-focus-bg: map-get($palette, green_lighten_1),
    is-selected-option-bg: map-get($palette, green_lighten_0),
    //Modal
    modal-bg: map-get($palette, grey_darken_1),
    //Forms
    forms-bg: map-get($palette, grey_darken_1),
    //Section
    section-bg: map-get($palette, grey_darken_1),
    //Table
    table-heading-bg: map-get($palette, grey_darken_7),
    table-border: map-get($palette, grey_darken_6),
    table-row-even-bg: map-get($palette, grey_lighten_3),
    table-selector-color: #1e1e1e,
    table-content-bg: #222222,
    table-row-even-bg-hover: map-get($palette, grey_darken_10),
    table-row-odd-bg: map-get($palette, grey_darken_8),
    table-row-odd-bg-hover: map-get($palette, grey_darken_10),
    table-row-selected: rgba(map-get($palette, green_darken_2), 0.25),
    table-row-toolbar-bg: map-get($palette, grey_darken_3),
    table-row-toolbar-button-bg: map-get($palette, green_darken_2),
    //Table text
    table-heading-text: map-get($palette, white_),
    table-row-text: map-get($palette, white_),
    table-normal-text: map-get($palette, grey_lighten_11),
    table-font-weight: 400,
    //Device page components
    //Backgrounds
    device-header-bg: #005751,
    device-bg: #333333,
    device-title: #8e8e8e,
    device-display-bg: #2b2b2b,
    device-main-section-border: #333333,
    device-display-card-bg: #3e3e3e,
    device-display-card-border: #555555,
    device-info-bg: #393939,
    device-collapse-icon-bg: #1e1e1e,
    device-output-activated-bg: #00635f,
    device-output-deactivated-bg: #1d1d1d,
    device-add-instrument-button-bg: #2b2b2b,
    device-search-bar-bg: #464646,
    new-converter-card-bg: #2b2b2b,
    new-converter-list-bg: #3e3e3e,
    device-label-bg: map-get($palette, grey_lighten_4),
    device-label-border: map-get($palette, grey_lighten_5),
    device-label-bg-active: map-get($palette, green_darken_2),
    device-label-border-active: white,
    device-button-bg: transparent,
    device-not-added-bg: map-get($palette, grey_darken_10),
    device-not-added-bg-hover: rgba(map-get($palette, black_), 0.25),
    device-display-info-bg: map-get($palette, grey_darken_11),
    device-main-bg: map-get($palette, grey_darken_1),
    //Texts
    device-header-text: map-get($palette, white_),
    device-text-primary: map-get($palette, white_),
    device-text-accent: #02d6a1,
    device-text-secondary: #656565,
    device-output-activated-label: #1d1d1d,
    device-output-deactivated-label: white,
    device-add-instrument-button-label: #02d6a1,
    device-search-bar-label: #7c7c7c,
    device-label-text-active: map-get($palette, white_),
    device-label-text-maintenance: map-get($palette, grey_lighten_2),
    device-label-bg-maintenance: map-get($palette, grey_lighten_5),
    device-alert-bg: map-get($palette, yellow_),
    device-badge-bg: map-get($palette, red_),
    device-badge-tex: map-get($palette, white_),
    device-button-text: map-get($palette, accent),
    device-not-added-title: map-get($palette, white_),
    device-not-added-text: map-get($palette, white_),
    device-main-header-title: map-get($palette, white_),
    device-main-section-title: map-get($palette, white_),
    //Device page components
    //Backgrounds
    param-page-bg: #1d1d1d,
    param-sidebar-bg: map-get($palette, grey_darken_8),
    param-sidebar-instrument-active-bg: lighten(map-get($palette, black_), 13%),
    param-sidebar-instrument-header-bg: map-get($palette, green_darken_2),
    param-sidebar-instrument-header-darken: map-get($palette, green_darken_5),
    param-sidebar-instrument-bg: transparent,
    param-return-button-bg: #131313,
    //Texts
    param-primary-text: white,
    param-instrument-title: map-get($palette, white_),
    param-sidebar-instrument-header-text: map-get($palette, white_),
    param-sidebar-instrument-active-text: map-get($palette, green_lighten_1),
    param-sidebar-instrument-text: map-get($palette, white_),
    //Search Bar
    search-bar-text: map-get($palette, white_),
    search-bar-bg: map-get($palette, grey_darken_9),
    search-bar-decoration: darken(map-get($palette, white_), 60%),
    //Report page components
    report-left-menu-bg: map-get($palette, grey_darken_8),
    report-instrument-bg: map-get($palette, grey_darken_2),
    report-instrument-icon: map-get($palette, white_),
    report-instrument-inactive: rgba(map-get($palette, white_), 0.25),
    report-instrument-active: map-get($palette, green_lighten_1),
    report-device-header-inactive-color: rgba(map-get($palette, white_), 0.25),
    report-warning-text: map-get($palette, red_),
    report-text-primary: white_,
    report-accent-color: #02d6a1,
    report-calendar-change-month-button: #fff,
    report-breadcrumb-path-text: map-get($palette, white_),
    report-breadcrumb-path-text-actual: map-get($palette, green_lighten_1),
    report-breadcrumb-path-icon: map-get($palette, white_),
    report-period-type-text: #666,
    report-show-deleted-instruments-checkbox: map-get($palette, white_),
    report-group-radio-button-unchecked: map-get($palette, grey_lighten_5),
    report-group-radio-button-checked: map-get($palette, green_lighten_1),
    report-group-main-background: map-get($palette, grey_lighten_4),
    report-group-selector-background: #292929,
    report-group-card-bg: #212121,
    report-slider-track: #3c3c3c,
    report-slider-track-handle: #38807c,
    report-time-picker-bg: #2c6a5b,
    report-back-button-label: white,
    report-back-button-bg: #292929,
    report-overview-container: #3e3e3e,
    report-overview-picker-bg: #2c6a5b,
    report-fixed-period-calendar-bg: #333,
    report-graphic-inside: #292929,
    report-graphic-bg: #292929,
    report-outside-bg: #393939,
    report-calendar-in-range-color: rgb(45, 106, 91),
    report-group-card-text: map-get($palette, white_),
    report-group-card-icon: map-get($palette, green_lighten_0),
    report-group-title-text: #c9c9c9,
    report-group-card-background-hover: map-get($palette, grey_darken_3),
    report-group-leftMenu-fastBar-button-hover:
        map-get($palette, grey_lighten_4),
    report-group-leftMenu-submenu-converter: map-get($palette, grey_lighten_4),
    report-view-options-chart-automatic-update-text:
        map-get($palette, grey_darken_3),
    report-view-options-chart-legends-text: map-get($palette, grey_darken_3),
    report-view-options-chart-exhibition-text: map-get($palette, grey_darken_3),
    report-view-main-type-title: map-get($palette, white_),
    report-view-main-action-button: map-get($palette, white_),
    report-view-main-action-button-active: map-get($palette, green_darken_1),
    report-actionbar-bg: map-get($palette, grey_darken_12),
    report-input-options-error-text-color: map-get($palette, red_),
    //Background Stripped pattern
    color-stop-1: rgba(0, 0, 0, 0.1),
    color-stop-2: rgba(0, 0, 0, 0.4),
    color-stop-3: rgba(51, 51, 51, 0.4),
    color-stop-4: rgba(51, 51, 51, 0.4),
    //Suspense Menu
    suspense-menu-bg: #4c4c4c,
    suspense-menu-highlight: #333333,
    suspense-menu-border: transparent,
    suspense-menu-border-size: 0,
    suspense-menu-font-color: #ffffff,
    suspense-menu-shadow: rgba(0, 0, 0, 0.2),
    tab-list-item-color: map-get($palette, white_),
    tab-list-item-active-color: map-get($palette, green_lighten_1),
    tab-content-bg: map-get($palette, grey_darken_6),
    tab-content-text-color: map-get($palette, white_),
    //Commons
    header-in-connecting-bg: map-get($palette, light_red),
    header-in-maintenance-bg: map-get($palette, grey_lighten_1),
    header-in-connecting-darken: map-get($palette, darken_red),
    header-in-maintenance-darken: map-get($palette, grey_darken_10),
    instrument-in-connecting-bg: map-get($palette, light_red2),
    instrument-in-connecting-text-color: map-get($palette, light_red),
    instrument-in-maintenance-text-color: map-get($palette, grey_lighten_1),
    instrument-disabled-edit-color: #dcdad1,
    button-with-icon-bg: map-get($palette, green_darken_2),
    button-with-icon-text-color: map-get($palette, white_),
    form-control-border-color: map-get($palette, grey_darken_6),
    form-control-focus-color: map-get($palette, green_darken_4),
    form-control-read-only-color: map-get($palette, green_darken_6),
    search-bar-input-bg: map-get($palette, grey_lighten_9),
    search-bar-input-text-color: map-get($palette, grey_lighten_10),
    base-modal-footer-cancel-bg: map-get($palette, grey_lighten_1),
    base-modal-footer-cancel-text-color: map-get($palette, grey_lighten_9),
    base-modal-footer-action-bg: map-get($palette, green_darken_2),
    base-modal-footer-action-text-color: map-get($palette, white_),
    base-modal-footer-action-hover-bg: map-get($palette, green_darken_3),
    add-instruments-search-color: map-get($palette, black_),
    add-instruments-search-border-color: map-get($palette, grey_darken_6),
    add-instruments-search-focus-color: map-get($palette, green_darken_4),
    add-instruments-search-read-only-color: map-get($palette, grey_darken_6),
    add-instruments-search-icon-color: map-get($palette, dark_),
    add-instruments-progress-bar-color: map-get($palette, dark_),
    choose-period-text-color: map-get($palette, white_),
    choose-period-border-color: map-get($palette, white_),
    //Error
    error-message-color: map-get($palette, red_),
    error-text-primary: map-get($palette, white_),
    about-page-text: map-get($palette, grey_lighten_1),
    about-page-version-color: map-get($palette, white_),
    about-page-links-color: map-get($palette, green_lighten_1),
    //Settings
    settings-menu-bg: #111111,
    company-information-bg: #292929,
    company-information-title-color: #8b8b8b,
    company-information-load-button: #00998f,
    company-information-clean-button: #191919,
    general-settings-action-color: #00dda1,
    //mobile-nvbar
    mobile-navbar-close-icon: #fff,
    mobile-navbar-bg: #2f2e30,
    mobile-navbar-item: #fff,
    mobile-navbar-footer: #2c2b2d,
    mobile-selected-bg: map-get($palette, green_darken_2),
    mobile-selected-item: map-get($palette, green_lighten_1),
    parameter-mobile-bg: #414141,
    parameter-mobile-card-bg: #3e3e3e,
    parameter-item-bg: #2f2f2f,
    parameter-card-text: #fff,
    schedulings-mobile-bg: #414141,
    schedulings-mobile-header-bg: #292929,
    schedulings-mobile-text-primary: #fff,
    schedulings-mobile-button-bg: #1c1c1c,
    schedulings-mobile-even-row: #292929,
    schedulings-mobile-odd-row: #414141,
    schedulings-mobile-row-text: #fff,
    schedulings-mobile-border: #000,
    mobile-grid-filter-bg: #222,
    //Schedulings
    schedulings-bg: #393939,
    schedulings-text-primary: white,
    schedulings-toolbar-bg: #292929,
    schedulings-toolbar-label: white,
    schedulings-side-cell: #3f3f3f,
    schedulings-slot-cell: #292929,
    schedulings-scheduler-cell: #6e6e6e,
    schedulings-heading-cell: #3f3f3f,
    schedulings-table-even-row: #393939,
    settings-text-primary: #fff,
    general-settings-action-hover-color: #00c28d,
    settings-sub-group-header-bg: map-get($palette, grey_darken_7),
    settings-navbar-text: #fff,
    settings-selected-bg: #1d3f36,
    settings-selected-text: map-get($palette, green_lighten_1),
    settings-title-text: #8b8b8b,
    settings-sub-item-bg: map-get($palette, grey_darken_8),
);
