/**
 * Theme Variables
 *
 * Simple doc
 * 
 * $palette: this is the object that contains all colors
 * $colors: this is the object tha contain all light vars
 * $colors-dark: this is the object tha contain all dark vars
 * 
 * MAP-GET($map, $key) FUNCTION
 * Returns the value in $map associated with $key.
 * Example: 
 * $font-weights: ("regular": 400, "medium": 500, "bold": 700);
 * map-get($font-weights, "medium"); // 500
 * 
 * OPACITY IN THE COLOR
 * To apply opacity in the colors, use lighten function.
 * Sintax: lighten(color, opacity[in percent])
 * @param color: any color reference: name(red), hexadecimal(#00FFFF), use map0get() and etc.
 * @param opacity: opacity you wish to apply. This meansure is the XD opacity minus 100%. 
 * For example: 
 * XD value: 13%. You need to subtract per 100
 * Result: 100 - 13 = 87%
 */

@import 'palette';

/***********************************************************************************
 LIGHT THEME - VARIABLES
**********************************************************************************/
$colors: (
    base: map-get($palette, white_),
    primary: map-get($palette, green_darken_1),
    text-primary: map-get($palette, black_),
    accent: map-get($palette, accent),
    logo: map-get($palette, white_),
    login-logo: #939393,
    //page - general vars
    page-bg: #f0f0f0,
    page-header-bg: map-get($palette, green_darken_0),
    page-main-bg: map-get($palette, white_),
    page-footer-bg: map-get($palette, green_darken_1),
    page-footer-text: map-get($palette, white_),
    page-hr-bg: map-get($palette, grey_darken_4),
    page-header-shadow: rgba(0, 0, 0, 0.2),
    page-footer-logo: map-get($palette, white_),
    page-navbar-bg: #f5f5f5,
    page-top-bar-bg: #fff,
    page-top-bar-label: black,
    page-side-bar-bg: #fff,
    page-side-bar-show-button: #7f7f7f,
    page-side-bar-labels: #333,
    
    page-side-bar-active-bg: #f1f6e9,
    page-side-bar-logo: #095751,
    page-mobile-navbar-bg: #fff,
    page-mobile-navbar-header-bg: #efefef,
    page-mobile-navbar-footer-bg: #efefef,
    //Icon
    header-icon-color: map-get($palette, black_),
    //Main Menu
    menu-text-primary: map-get($palette, white_),
    menu-text-active: map-get($palette, black_),
    //Breadcrumbs - Paths
    path-text: map-get($palette, black_),
    path-text-active: map-get($palette, green_darken_2),
    //Inputs
    disabled-bg: map-get($palette, grey_lighten_9),
    read-only-label: map-get($palette, grey_lighten_1),
    input-bg: map-get($palette, white_),
    checkbox-bg: map-get($palette, green_lighten_0),
    input-color: map-get($palette, black_),
    input-border: map-get($palette, grey_lighten_12),
    input-boxshadows: rgba(map-get($palette, green_darken_0), 0.25),
    select-option-focus-bg: map-get($palette, green_lighten_1),
    is-selected-option-bg: map-get($palette, green_lighten_0),
    //Modal
    modal-bg: rgba(255, 255, 255, 0.98),
    //Forms
    forms-bg: rgba(255, 255, 255, 0.98),
    //Section
    section-bg: rgba(255, 255, 255, 0.75),
    //Table
    table-heading-bg: #38807c,
    table-border: map-get($palette, green_darken_1),
    table-row-even-bg: #d2dcdb,
    table-row-even-bg-hover: #b1c4c2,
    table-row-odd-bg-hover: #b1c4c2,
    table-selector-color: #275956,
    table-content-bg: #fff,
    table-row-odd-bg: map-get($palette, white_),
    table-row-selected: rgba(map-get($palette, green_darken_1), 0.25),
    table-row-toolbar-bg: map-get($palette, blue_grey_lighten),
    table-row-toolbar-button-bg: map-get($palette, green_darken_2),
    //Table text
    table-heading-text: map-get($palette, white_),
    table-row-text: map-get($palette, grey_darken_4),
    table-normal-text: map-get($palette, grey_lighten_1),
    table-font-weight: 700,
    //Device page components
    //Backgrounds
    device-header-bg: #38807c,
    device-bg: #f0f0f0,
    device-title: #3e3e3e,
    device-display-bg: #ffffff,
    device-main-section-border: #f0f0f0,
    device-display-card-bg: #f2f2f2,
    device-display-card-border: transparent,
    device-info-bg: #f2f2f2,
    device-collapse-icon-bg: #b2b2b2,
    device-output-activated-bg: #7aa32a,
    device-output-deactivated-bg: #4a4a4a,
    device-add-instrument-button-bg: #ffffff,
    device-search-bar-bg: #fff,
    new-converter-card-bg: #f2f2f2,
    new-converter-list-bg: #fff,
    device-label-bg: map-get($palette, white_),
    device-label-border: map-get($palette, blue_grey_lighten),
    device-label-bg-active: map-get($palette, green_darken_1),
    device-label-border-active: #e6e6e6,
    device-button-bg: transparent,
    device-not-added-bg: map-get($palette, grey_lighten_7),
    device-not-added-bg-hover: map-get($palette, grey_lighten_8),
    device-display-info-bg: map-get($palette, green_lighten_2),
    device-main-bg: map-get($palette, blue_grey_lighten_2),
    //Texts
    device-header-text: map-get($palette, white_),
    device-text-primary: map-get($palette, black_),
    device-text-accent: #7aa300,
    device-text-secondary: #909090,
    device-output-activated-label: #fff,
    device-output-deactivated-label: #fff,
    device-add-instrument-button-label: #7aa32a,
    device-search-bar-label: #b6b6b6,
    device-label-text-active: map-get($palette, white_),
    device-label-text-maintenance: map-get($palette, grey_lighten_2),
    device-label-bg-maintenance: map-get($palette, grey_lighten_5),
    device-alert-bg: map-get($palette, yellow_),
    device-badge-bg: map-get($palette, red_),
    device-badge-tex: map-get($palette, white_),
    device-button-text: map-get($palette, grey_darken_4),
    device-not-added-title: map-get($palette, grey_darken_4),
    device-not-added-text: map-get($palette, grey_lighten_8),
    device-not-added-text-hover: map-get($palette, white_),
    device-main-header-title: map-get($palette, grey_lighten_1),
    device-main-section-title: map-get($palette, grey_lighten_1),
    //Parameter page components
    //Backgrounds
    param-page-bg: #f0f0f0,
    param-sidebar-bg: map-get($palette, blue_grey_lighten_2),
    param-sidebar-instrument-active-bg: #fbfbfb,
    param-sidebar-instrument-header-bg: map-get($palette, green_darken_1),
    param-sidebar-instrument-bg: transparent,
    param-return-button-bg: white,
    //Texts
    param-primary-text: black,
    param-instrument-title: map-get($palette, green_darken_2),
    param-sidebar-instrument-header-text: map-get($palette, white_),
    param-sidebar-instrument-active-text: #00c789,
    param-sidebar-instrument-text: #848484,
    //Search Bar
    search-bar-text: map-get($palette, grey_darken_4),
    search-bar-bg: map-get($palette, blue_grey_lighten_3),
    search-bar-decoration: black,
    //Report page components
    report-left-menu-bg: white,
    report-instrument-bg: map-get($palette, grey_ligthen_10),
    report-instrument-icon: map-get($palette, grey_darken_5),
    report-instrument-inactive: rgba(map-get($palette, grey_darken_5), 0.25),
    report-instrument-active: map-get($palette, green_darken_4),
    report-device-header-inactive-color: rgba(map-get($palette, white_), 0.25),
    report-warning-text: map-get($palette, red_),
    report-text-primary: black_,
    report-accent-color: #02d6a1,
    report-calendar-change-month-button: #02d6a1,
    report-breadcrumb-path-text: map-get($palette, grey_darken_3),
    report-breadcrumb-path-text-actual: map-get($palette, green_darken_4),
    report-breadcrumb-path-icon: map-get($palette, grey_darken_3),
    report-period-type-text: #666,
    report-show-deleted-instruments-checkbox: black,
    report-group-radio-button-unchecked: map-get($palette, grey_lighten_1),
    report-group-radio-button-checked: map-get($palette, green_darken_4),
    report-group-main-background: map-get($palette, white_),
    report-group-card-text: map-get($palette, grey_darken_3),
    report-group-card-icon: #38807c,
    report-group-card-hover: map-get($palette, grey_lighten_7),
    report-group-title-text: map-get($palette, grey_darken_3),
    report-group-card-background-hover: map-get($palette, grey_lighten_7),
    report-group-leftMenu-fastBar-button-hover: map-get($palette, white_),
    report-group-leftMenu-submenu-converter: map-get($palette, grey_lighten_7),
    report-group-selector-background: #eaeaea,
    report-group-card-bg: white,
    report-slider-track: #eff3f5,
    report-slider-track-handle: #02d6a1,
    report-time-picker-bg: white,
    report-back-button-label: white,
    report-back-button-bg: #3e3e3e,
    report-overview-container: white,
    report-overview-picker-bg: #eff3f5,
    report-fixed-period-calendar-bg: #eff3f5,
    report-graphic-inside: #eaeaea,
    report-graphic-bg: white,
    report-outside-bg: #f0f0f0,
    report-calendar-in-range-color: #fff,
    report-view-options-chart-automatic-update-text: map-get($palette, white_),
    report-view-options-chart-legends-text: map-get($palette, white_),
    report-view-options-chart-exhibition-text: map-get($palette, white_),
    report-view-main-type-title: map-get($palette, grey_darken_5),
    report-view-main-action-button: map-get($palette, grey_darken_5),
    report-view-main-action-button-active: map-get($palette, green_darken_1),
    report-actionbar-bg: map-get($palette, white_),
    report-input-options-error-text-color: map-get($palette, orange-lighten_1),
    //Background Stripped pattern
    color-stop-1: rgba(219, 219, 219, 0.1),
    color-stop-2: rgba(219, 219, 219, 0.4),
    color-stop-3: rgba(219, 219, 219, 0.4),
    color-stop-4: rgba(219, 219, 219, 0.4),
    //Suspense Menu
    suspense-menu-bg: #ffffff,
    suspense-menu-highlight: #dee8e7,
    suspense-menu-border: #939393,
    suspense-menu-border-size: 1px,
    suspense-menu-font-color: #363b3f,
    suspense-menu-shadow: rgba(0, 0, 0, 0.2),
    tab-list-item-color: map-get($palette, grey_darken_5),
    tab-list-item-active-color: map-get($palette, green_darken_1),
    tab-content-bg: map-get($palette, mineral_green),
    tab-content-text-color: map-get($palette, black_),
    //Commons
    header-in-connecting-bg: map-get($palette, light_red),
    header-in-maintenance-bg: map-get($palette, grey_lighten_1),
    instrument-in-connecting-text-color: map-get($palette, light_red2),
    instrument-in-maintenance-text-color: map-get($palette, grey_lighten_6),
    instrument-disabled-edit-color: #dcdad1,
    button-with-icon-bg: map-get($palette, green_darken_2),
    button-with-icon-text-color: map-get($palette, white_),
    form-control-border-color: map-get($palette, grey_darken_6),
    form-control-focus-color: map-get($palette, green_darken_4),
    form-control-read-only-color: map-get($palette, green_darken_6),
    search-bar-input-bg: map-get($palette, grey_lighten_9),
    search-bar-input-text-color: map-get($palette, grey_lighten_10),
    base-modal-footer-cancel-bg: map-get($palette, grey_lighten_12),
    base-modal-footer-cancel-text-color: map-get($palette, grey_lighten_1),
    base-modal-footer-action-bg: map-get($palette, green_darken_2),
    base-modal-footer-action-text-color: map-get($palette, white_),
    base-modal-footer-action-hover-bg: map-get($palette, green_darken_3),
    add-instruments-search-color: map-get($palette, black_),
    add-instruments-search-border-color: map-get($palette, grey_darken_6),
    add-instruments-search-focus-color: map-get($palette, green_darken_4),
    add-instruments-search-read-only-color: map-get($palette, grey_darken_6),
    add-instruments-search-icon-color: map-get($palette, dark_),
    add-instruments-progress-bar-color: map-get($palette, dark_),
    choose-period-text-color: map-get($palette, grey_darken_3),
    choose-period-border-color: map-get($palette, grey_darken_3),
    //Error
    error-message-color: map-get($palette, red_),
    error-text-primary: map-get($palette, black_),
    about-page-text: map-get($palette, green_darken_0),
    about-page-version-color: map-get($palette, green_darken_0),
    about-page-links-color: map-get($palette, green_lighten_0),
    //Settings
    //mobile-nvbar
    mobile-navbar-close-icon: #000,
    mobile-navbar-bg: #ffffff,
    mobile-navbar-header: #ffffff,
    mobile-navbar-item: #7f7f7f,
    mobile-navbar-footer: #ffffff,
    mobile-selected-bg: transparent,
    mobile-selected-item: #2edda1,
    parameter-mobile-bg: #f0f0f0,
    parameter-mobile-card-bg: #ffffff,
    parameter-item-bg: #d3dddc,
    parameter-card-text: #ababab,
    schedulings-mobile-bg: #f0f0f0,
    schedulings-mobile-header-bg: #38807c,
    schedulings-mobile-text-primary: #000,
    schedulings-mobile-button-bg: #fff,
    schedulings-mobile-even-row: #d3dddc,
    schedulings-mobile-border: #bbd1d0,
    schedulings-mobile-odd-row: #ffffff,
    schedulings-mobile-row-text: #ababab,
    mobile-grid-filter-bg: #fff,
    //Schedulings
    schedulings-bg: #fff,
    schedulings-text-primary: black,
    schedulings-heading-text: #fff,
    schedulings-toolbar-bg: #38807c,
    schedulings-toolbar-label: #fff,
    schedulings-side-cell: #d3dddc,
    schedulings-slot-cell: white,
    schedulings-scheduler-cell: #f1f1f1,
    schedulings-heading-cell: #38807c,
    schedulings-table-even-row: #d3dddc,
    settings-text-primary: #000,
    settings-menu-bg: #f5f5f5,
    settings-sub-group-header-bg: #ffffff,
    settings-navbar-text: #7f7f7f,
    settings-sub-item-bg: #fbfbfb,
    settings-selected-bg: #38807c,
    settings-selected-text: #fff,
    settings-title-text: #8e8e8e,
    company-information-bg: #e5e5e5,
    company-information-title-color: #8e8e8e,
    company-information-load-button: #24b16d,
    company-information-clean-button: #191919,
    general-settings-action-color: #24b16d,
    general-settings-action-hover-color: #1c9159,
);
