/**
 * Var names based on color web palette
 * https://css-tricks.com/what-do-you-name-color-variables/
 * https://codepen.io/nicetransition/pen/QjwbRg
 */

$palette: (
    white_: #ffffff,
    black_: #000000,
    
    yellow_: #e9e744,
    red_: #ff5b5b,
    darken_red: #d64242,
    light_red: #dd6363,
    light_red2: #8b3330,
    accent: #a3cd3b,
    yellow_ligthen_1: #d0a800,
    grey_darken_12: #333333,
    grey_darken_11: #4f4f4f,
    grey_darken_10: #4a4a4a,
    grey_darken_9: #1d1d1d,
    grey_darken_8: #292929,
    grey_darken_7: #222222,
    grey_darken_6: #1e1e1e,
    grey_darken_5: #45505f,
    grey_darken_4: #2f3b4c,
    grey_darken_3: #2e2e2e,
    grey_darken_2: #343434,
    grey_darken_1: #3b3b3b,
    grey_lighten_1: #606060,
    grey_lighten_2: #939393,
    grey_lighten_3: #363636,
    grey_lighten_4: #393939,
    grey_lighten_5: #979797,
    grey_lighten_6: #afafaf,
    grey_lighten_7: #a7bdbc,
    grey_lighten_8: #5c7472,
    grey_lighten_9: #eeebeb,
    grey_ligthen_10: #f7f7f7,
    grey_lighten_11: #949494,
    grey_lighten_12: lightgray,
    green_darken_0: #3f807c,
    green_darken_1: #38807c,
    green_darken_2: #005751,
    green_darken_3: #005e58,
    green_darken_4: #0d5f59,
    green_darken_5: #00433e,
    green_lighten_0: #00ffbb,
    green_lighten_1: #00dda1,
    green_lighten_2: #739395,
    blue_grey_lighten: #bcd1d3,
    blue_grey_lighten_2: #eff3f5,
    blue_grey_lighten_3: #e4e5e8,
    mineral_green: #445e64,
    orange-lighten_1: #d58b37,
);
