// @import 'assets/scss/_functions.scss';

.modal {
    display: block;

    // color: getColor(input-color) !important;

    .modal-content {
        // background: getColor(modal-bg);

        // color: getColor(text-primary);
        border-radius: 4px !important; // the modal has a base border-radius: 0 !important

        .modal-header {
            // display: flex;
            border-bottom: none;
            padding: 1rem 0 1rem !important;
        }

        .modal-footer {
            border-top: none;
        }
    }
}

.modal-transition {
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.overlay {
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
    touch-action: none;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
}
